@font-face {
    src: url('../fonts/Damavand-Regular.ttf') format('truetype');
    font-family: 'Damavand Regular';
    font-stretch: normal;
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}